.message {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 15.23px;
  font-weight: 300;
  color: #fff;
  background-color: #373e4e;
  border-radius: 20px;
  padding: 15px 25px 15px 15px;
}

.icon {
  position: absolute;
  right: -10px;
  bottom: 0;
}
