.button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  &--color-primary {
    background-color: #03a9f1;
    color: white;
  }

  &--color-disabled {
    background-color: #565e70;
  }

  &--color-success {
    background-color: #00ac83;
    color: white;
  }

  &--color-secondary {
    background-color: #837dff;
    color: white;
  }

  &--size-sm {
    height: 40px;
    width: 40px;
  }
}
