.badget {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #414756;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &--outlined {
    border: 2px solid #7a8194;
  }

  &--size-md {
    width: 45px;
    height: 45px;
  }

  &--size-sm {
    width: 34px;
    height: 34px;
  }

  &--size-xs {
    width: 24px;
    height: 24px;
  }

  img {
    width: 100%;
  }
}
