.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  bottom: -40px !important;
}
.swiper-container {
  overflow: visible;
}
.swiper-slide {
  width: 95px !important;
}
.swiper-pagination-bullet {
  background: #c4c4c4;
  width: 4px;
  height: 4px;
}

.favourites {
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  margin-bottom: 10px;
  margin-left: 10px;
}
