.messageIncoming {
  margin-bottom: 10px;
  padding-right: 15px;
}
.messageOutcoming {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
// .messages {
//   height: 100%;
//   overflow: scroll;

//   &::-webkit-scrollbar {
//     display: none;
//   }
// }
