.userHead {
  margin-top: 51px;
  padding: 0 25px;
}
.favourite {
  padding: 25px 0 60px 25px;
  overflow: hidden;
}
.wrap {
  display: flex;
  margin-top: 14px;
  padding-left: 25px;
  padding-right: 20px;
}
.searching {
  width: 100%;
  display: flex;
  position: relative;
}
.search {
  position: absolute;
  right: 0;
}
.add {
  margin-left: 15px;
}
.messages {
  padding-left: 20px;
  padding-right: 23px;
}
