.messagesInfo {
  display: flex;
  color: #fff;
  height: 38px;
  margin-bottom: 25px;
}
.wrapInfo {
  margin-left: 16px;
  width: 100%;
}
.name {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}
.info {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 300;
}
.date {
  font-size: 15px;
  white-space: nowrap;
}
.badgets {
  position: relative;
  width: 64px;
}
.secondBadget {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: -1;
}
