.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 51px 35px;
}
.messages {
  height: 100%;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
.inputs {
  display: flex;
}
.textarea {
  align-self: flex-end;
  width: 100%;
}
.buttons {
  margin-left: 15px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
}
