.card {
  height: 140px;
  width: 95px;
  border-radius: 30px;
  background-position: center;
  overflow: hidden;
  position: relative;
  filter: drop-shadow(20px 20px 34px rgba(0, 0, 0, 0.45));

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .shadow {
    height: 100%;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(41, 47, 63, 0) 0%,
      rgba(41, 47, 63, 0.8) 100%
    );
  }
  .name {
    margin-top: 82px;
    padding: 0 10px;
    color: #fff;
  }
}
