.message {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 15.23px;
  font-weight: 300;
  text-align: right;
  color: #fff;
  background-color: #272a35;
  border-radius: 20px;
  padding: 15px 15px 15px 15px;
}
